@import "variables.css";
@import "headers.css";
@import "board.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #eeeeee; */
    background-image: url("https://wallpapertag.com/wallpaper/full/d/8/d/382621-plain-backgrounds-1920x1200-for-windows-7.jpg");
    font-family: Arial, Helvetica, sans-serif
}



